/* ---------- BODY ---------------------------------------------------------- */

body {
  /* Some browsers (like Chrome) include a small margin around the <body> by
    default. Our application doesn't need this margin (we would like the UI to
    extend all the way to the top and bottom of the screen), so we remove this
    margin below.
  */
  margin: 0px;
  padding: 0px;

  /* Set the default font family and font color for our application. */
  font-family: 'Roboto';
  color: #dddddd;

  /* Set the background color (dark mode UI!) */
  background-color: #191919;
}


/* fuck fuck fuck */

/* .notecard {
  box-sizing: border-box;
  width: 450px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: gray;
  display: flex;

}

.notecard-left {
  background-color:  blue;
  /* width: calc(100% - 30px); 
  flex-grow: 1; 

.notecard-right{
  background-color: green;
  width: 30px;
  margin-left: auto;
}
*/